{% include 'template/header.twig' %}
{% block header %}
    <!-- Custom styles for login -->
{% endblock %}
        <div class="container" id="login">
            {% block content %}{% endblock %}
        </div> <!-- /container -->
{% include 'template/footer.twig' %}