{% include 'template.twig' %}

{% block content %}

<div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-4">
    <h1 style="margin-top:200px;margin-left:80px;">Seja Bem Vindo {{app.my_session.get('userName')}}</h1>
</div>
{% endblock %}
