<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Banco de Ideias</title>

        <!-- Bootstrap -->
        <link href="{{ app.url_public }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ app.url_public }}/css/main.css" rel="stylesheet">
        <link href="{{ app.url_public }}/css/login.css" rel="stylesheet">

        <!-- Jquery table -->
        <!-- <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"> -->
        <link href="https://code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.css" rel="stylesheet">

        <!-- Table -->
        <!-- <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet"> -->

        {% block header %}{% endblock %}
    </head>
    <body>