{% extends 'login_template.twig' %}

{% block content %}

<div class="col-xs-8col-xs-offset-2 col-md-4 col-md-offset-4">

    <form class="form-signin" action="{{app.url_base}}login/verify" method="POST">
    <label for="inputEmail" class="sr-only">login</label>
    <input type="text" id="inputEmail" name="inputEmail" class="form-control" placeholder="Login" required=true autofocus="">
    <br>
    <label for="inputPassword" class="sr-only">senha</label>
    <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Senha" required="">

    <button class="btn btn-lg btn-primary btn-block" name="btnOperacao" type="submit">Entrar</button>
    </form>
</div>
{% endblock %}