{% include 'template.twig' %}

{% block content %}

<div class="col-xs-8col-xs-offset-2 col-md-4 col-md-offset-4">
    <h1>Seja Bem Vindo {{app.my_session.get('userName')}}</h1>
</div>
{% endblock %}
