<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Banco de Ideias</title>

        <!-- Bootstrap -->
        <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../public/css/main.css" rel="stylesheet">
        <link href="../public/css/login.css" rel="stylesheet">

        <link href="../public/css/jquery/jquery-ui.css" rel="stylesheet">
        <link href="../public/css/jquery/jquery-ui.theme.min.css" rel="stylesheet">
        <link href="../public/css/jqueryui-data-table.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <h1 class="text-center login-title">Efetue o login para continuar</h1>

                    <div class="account-wall">
                        <img class="profile-img" src="{{app.url_public}}/imagens/login.png"
                        alt="">
                        <form class="form-signin" action="{{app.url_base}}login/verify" method="POST">
                            <input type="text" name="login" class="form-control" placeholder="Login" required autofocus>
                            <input type="password" name="senha" class="form-control" placeholder="Senha" required>
                            <br>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Entrar</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>